<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <generatePublisherEvidence enabled="false"/>
  </runtime>
  <appSettings>
    <add key="applicationurn" value="urn:application:PocBotUCMA"/>
    <add key="applicationuseragent" value="PocBotUCMA"/>
    <add key="endpoint" value="https://bot-cloud-poc.bluemixappli.staging.echonet/message"/>
  </appSettings>
</configuration>